.square-black {
    -fx-background-color: rgb(181, 136, 99);
}

.square-white {
    -fx-background-color: rgb(240, 217, 181);
}

.square-selected {
    -fx-background-color: rgba(144, 155, 111, 0.8);
}

.square-next {
    -fx-fill: rgba(144, 155, 111, 0.8);
}

.list-view {
    -fx-background-color: rgb(36, 36, 36);
}

.list-view .list-cell {
    -fx-background-color: rgb(36, 36, 36);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 16;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: rgb(100, 100, 100);
}

.menu-image {
    -fx-background-image: url('menu.png');
}

.menu-title {
    -fx-font-size: 100;
    -fx-font-weight: bold;
}

.menu-title.label .text {
    -fx-fill: rgb(255, 255, 255);
    -fx-stroke: rgb(0, 0, 0);
    -fx-stroke-width: 2;
}